.page-footer {
    background-color: var(--bg-dark-color);
    padding-top: 60px;
    padding-bottom: 60px;
   
    
}

.logo.footer {
    margin-bottom: 20px;
    color: var(--primary-white-color);
    @media screen and (max-width: 1199px) {
        justify-content: center;
    
    }

}
.page-footer__wrapper {
    display: block;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items:baseline;
        
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        column-gap: 70px;
    }
}

.page-footer__address-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and(max-width: 1199px) {
        margin-bottom: 60px;
    }
}

.address {
    display: flex;
    flex-direction: column;
    gap: 9px;
    line-height: 1.7;
    @media screen and (max-width: 1199px) {
            text-align: center;
    
        }

    
}


.address__location {
    color: var(--primary-white-color);
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-dur-func);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }

}





.footer-social-list {
    padding: 10px;
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {
            margin-top: 60px;
            
    
        }

}



.footer-social-list__item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-social-icon {
    fill: var(--primary-white-color);
}

.footer-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    @media screen and (max-width: 1199px) {
            text-align: center;
    
        }
}