.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 96%;
    height: 96%;
   max-height: 609px;
   overflow: auto;
    transform: translate(-50%, -50%);
    background-color: var(--primary-white-color);
    padding: 40px;
        @media screen and (max-width:1199px) {
            max-width: 450px;

   }
        @media screen and (min-width:1200px) {
            max-width: 528px;
        }

}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--primary-white-color);
    padding: 0;
}

.modal-close-btn-icon {
    width: 18px;
    height: 18px;
    fill: #000000;

}